.main-content {
  padding: 50px;
}

[data-amplify-authenticator] [data-amplify-router] {
  --amplify-components-button-primary-background-color: #1975d2;
  --amplify-components-button-primary-color: #fff;
  --amplify-components-button-primary-hover-background-color: #1565c0;
  --amplify-components-button-primary-hover-color: #fff;
}
@media (prefers-color-scheme: dark) {
  a {
    color: #66b3ff;
  }
  [data-amplify-authenticator] [data-amplify-router] {
    --amplify-colors-background-primary: rgba(255, 255, 255, 0.08);
    --amplify-components-button-color: #fff;
    --amplify-components-button-primary-background-color: #90caf9;
    --amplify-components-button-primary-color: rgba(0, 0, 0, 0.87);
    --amplify-components-button-primary-hover-background-color: #42a5f5;
    --amplify-components-button-primary-hover-color: rgba(0, 0, 0, 0.87);
    --amplify-components-fieldcontrol-color: #fff;
  }
  [data-amplify-authenticator] [data-state='inactive'][role='tab'] {
    --amplify-colors-background-secondary: rgba(255, 255, 255, 0.08);
  }
  .amplify-button[data-variation='link'] {
    --amplify-components-button-link-color: #66b3ff;
  }
  .amplify-heading {
    --amplify-components-heading-color: #fff;
  }
  .amplify-label {
    --amplify-components-field-label-color: #fff;
  }
  .amplify-select:focus,
  .amplify-input:focus,
  .amplify-textarea:focus {
    --amplify-components-fieldcontrol-focus-border-color: #90caf9;
    --amplify-components-fieldcontrol-focus-box-shadow: #90caf9;
  }
  .amplify-select option {
    --amplify-components-select-option-background-color: #363636;
  }
  .amplify-tabs-item {
    --amplify-components-tabs-item-color: #fff;
  }
  .amplify-tabs-item[data-state='active'] {
    --amplify-components-tabs-item-active-color: #fff;
    --amplify-components-tabs-item-active-background-color: #363636;
  }
  .amplify-tabs-item:focus {
    --amplify-components-tabs-item-focus-color: #fff;
  }
  .amplify-tabs-item:hover {
    --amplify-components-tabs-item-hover-color: #90caf9;
  }
  .amplify-text {
    --amplify-components-text-color: #fff;
  }
}
